.newToDoList {
  width: 46rem;
  margin: 0 auto;
  margin-top: -1.75rem;
  
  display: grid;
  grid-template-columns: 7fr 1fr;
  gap: 0.5rem;

  
}

.newToDoList input {
  background: var(--gray-500);
  color: var(--gray-100);
  padding: 1rem;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
}

.newToDoList button {
  background: var(--blue-dark);
  color: var(--gray-100);
  border: 0;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}

.newToDoList button:not(:disabled):hover {
  background: var(--blue);
}

.newToDoList button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .newToDoList {
    width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .newToDoList input {
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .newToDoList button {
    width: 100%;
    padding: 1rem;
  }
}